* {
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: #000;

  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 5px solid #111;
}
